# Node / Electron
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
out/
release/
*.asar

# OS / Editor
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Adblock Filters (EasyList / EasyPrivacy)
# ライセンスの都合で GitHub に含めない
filters/easylist.txt
filters/easyprivacy.txt

# adblock-rs バイナリ
# OSごとに生成される .node はリポジトリに含めない
*.node

# Electron builder cache/output（基本は無視）
build/*

# ただし NSIS のカスタムスクリプトはリポジトリに含める
!build/installer.nsh
